/* Mobile & Tablet */
@media (max-width: 1023px){
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-tablet-mobile {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .main__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-list {
        display: flex;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile {
        display: none;
    }

    .header__mobile-btn {
        /* display: block; */
    }

    .header-search {
        justify-content: space-between;
    }

    .header__mobile-search {
        display: inline-block;
    }

    .header__logo,
    .header__cart {
        width: unset;
    } 

    .header__search {
        position: fixed;
        left: 0;
        top: var(--header-height);
        width: 100%;
        height: 46px;
        padding: 0 16px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        animation: mobileSearchSlideIn linear 0.2s;
        display: none;
    }

    @keyframes mobileSearchSlideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to{
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}